body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 30px;
}

input, button {
  padding: 12px;
  font-size: 18px;
  margin: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
}

button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

#result {
  font-size: 20px;
  margin-top: 20px;
  color: #00ff99;
}

#history {
  margin-top: 20px;
  text-align: left;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}